<footer>
    <div class="container-fluid">
        <div class="container">
            <div class="row">
                <div class="col-md-3">Contact us</div>
                <div class="col-md-3">Address</div>
                <div class="col-md-3">Our product</div>
                <div class="col-md-3">Location of google map</div>
            </div>
        </div>
    </div>
</footer>