<footer>
    <div class="container-fluid">
        <div class="container">
            <div class="row">
                <div class="col-md-3">
                    Contact us
                    <hr>
                    <ul>
                        <li>tel: (+250) 789638247</li>
                        <li>email: niyoeanpaul@gmail.com</li>
                        <li>instagram: leojeanpaul</li>
                        <li>twitter: niyonizeyejeanpaul</li>
                    </ul>

                </div>
                <div class="col-md-3">
                    Address
                    <hr>
                    <ul>
                        <li>Kigali, Rwanda</li>
                        <li>KN st 247</li>
                        <li>NYARUGENGE</li>
                    </ul>

                </div>
                <div class="col-md-3">
                    Our product
                    <hr>
                    <ul>
                        <li>Clothes</li>
                        <li>Laptop</li>
                        <li>Shoes</li>
                        <li>Watches</li>
                    </ul>

                </div>
                <div class="col-md-3">Location of google map</div>
            </div>
        </div>
    </div>
</footer>