.product-form {
    width: 20rem;
    max-width: 90%;
    margin: auto;
    display: block;
}

.product-item {
    width: 20rem;
    max-width: 95%;
}
.product__title {
    font-size: 1.2rem;
    text-align: left;
}

.product__price {
    text-align: left;
    color: firebrick;
    margin: 0.4rem 0 0.2rem 0;
    font-size: 18px;
}


.product__description {
    text-align: left;
}
h1 a{
    text-decoration: none;
    color: rgba(0, 0, 0, 0.719);
}
h1 a:hover{
    color: firebrick;
}